header{
    background-color: rgb(175, 181, 104);
    border: 2px solid red;
    height: 100px;
    width: 98%;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
}

body {
    background-color: rgb(1, 255, 255);
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #555;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: #326f73;
    transform: scale(1.1);
}

.block2 {
    margin: 20px;
    height: 400px;
    width: 29.5%;
    background-color: chartreuse;
    border-radius: 8px;
    border: 2px solid black;
    float: left;
}
.block4{
    background-color: #FF8C00;
    float: left;
    height: 100px;
    width: 98%;
    margin: 10px;
    border-radius: 8px;
    border: 2px solid blueviolet;
    text-align: center;
    clear: both;
}
.sousblock2{
    height: 100px;
    width: 97%;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid brown;
    background-color: antiquewhite;
    float: inline-start;
}

.square1 { background-color: #FFD700; } /* Yellow */
.square2 { background-color: #32CD32; } /* Green */
.square3 { background-color: #FF8C00; } /* Orange */

